@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));
@config '../tailwind.config.ts';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-base-content: #fff9fb;
  --color-base-100: #1c223b;
  --color-base-200: #2a3655;
  --color-base-300: #141a30;
  --color-primary: #212638;
  --color-primary-content: #dae8ff;
  --color-secondary: #8b45fd;
  --color-secondary-content: #0ff;
  --color-accent: #4969a6;
  --color-accent-content: #f9fbff;
  --color-neutral: #f9fbff;
  --color-neutral-content: #385183;
  --color-info: #385183;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;
  --rounded-btn: 9999rem;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-base-content: #212638;
  --color-base-100: #ffffff;
  --color-base-200: #f4f8ff;
  --color-base-300: #ffffff;
  --color-neutral: #212638;
  --color-primary: #93bbfb;
  --color-primary-content: #2a3655;
  --color-secondary: #8b45fd;
  --color-secondary-content: #7800ff;
  --color-accent: #93bbfb;
  --color-accent-content: #212638;
  --color-neutral: #212638;
  --color-neutral-content: #ffffff;
  --color-info: #93bbfb;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;
  --rounded-btn: 9999rem;
}

@plugin "tailwindcss-animate";

/* Shared Utilities */

[data-theme="light"] {
  .bg-gradient-modal {
    background-image: linear-gradient(270deg, #a7ecff -17.42%, #e8b6ff 109.05%);
  }

  .bg-modal {
    background: linear-gradient(270deg, #ece9fb -17.42%, #e3f4fd 109.05%);
  }

  .modal-border {
    border: 1px solid #5c4fe5;
  }

  .bg-gradient-nav {
    background: #000000;
  }

  .my-btn-z {
    background-color: #f11eb5;
    border-color: #f11e80;
  }
  .my-btn-z:hover {
    background-color: #e11c50;
    border-color: #1c96e1;
  }

  .bg-main {
    background: #ffffff;
  }

  .bg-underline {
    background: linear-gradient(270deg, #a7ecff -17.42%, #e8b6ff 109.05%);
  }

  .bg-container {
    background: transparent;
  }

  .bg-btn-wallet {
    background-image: linear-gradient(270deg, #a7ecff -17.42%, #e8b6ff 109.05%);
  }

  .bg-input {
    background: rgba(0, 0, 0, 0.07);
  }

  .bg-component {
    background: rgba(255, 255, 255, 0.55);
  }

  .bg-function {
    background: linear-gradient(270deg, #a7ecff -17.42%, #e8b6ff 109.05%);
  }

  .text-function {
    color: #3c1dff;
  }

  .text-network {
    color: #7800ff;
  }

  .tooltip {
    --tooltip-tail: 6px;
  }

  .link {
    text-underline-offset: 2px;
  }

  .link:hover {
    opacity: 80%;
  }

  .contract-content {
    background: white;
  }
}

/* === DARK-THEME-SPECIFIC CUSTOM UTILITIES === */

[data-theme="dark"] {
  .bg-gradient-modal {
    background: #385183;
  }

  .bg-modal {
    background: linear-gradient(90deg, #2b2243 0%, #253751 100%);
  }

  .modal-border {
    border: 1px solid #4f4ab7;
  }

  .bg-gradient-nav {
    background-image: linear-gradient(90deg, #42d2f1 0%, #b248dd 100%);
  }

  .bg-main {
    background: #141a31;
  }

  .bg-underline {
    background: #5368b4;
  }
  .bg-container {
    background: #141a30;
  }

  .bg-btn-wallet {
    background-image: linear-gradient(180deg, #3457d1 0%, #8a45fc 100%);
  }

  .bg-input {
    background: rgba(255, 255, 255, 0.07);
  }

  .bg-component {
    background: linear-gradient(
      113deg,
      rgba(43, 34, 67, 0.6) 20.48%,
      rgba(37, 55, 81, 0.6) 99.67%
    );
  }

  .bg-function {
    background: rgba(139, 69, 253, 0.37);
  }

  .text-function {
    color: #1dd6ff;
  }

  .text-network {
    color: #d0a6ff;
  }

  .contract-content {
    background: linear-gradient(
      113.34deg,
      rgba(43, 34, 67, 0.6) 20.48%,
      rgba(37, 55, 81, 0.6) 99.67%
    );
  }
}

@layer utilities {
  [data-theme="light"] .hover\:bg-gradient-nav:hover {
    background: #000000;
  }

  [data-theme="dark"] .hover\:bg-gradient-nav:hover {
    background-image: linear-gradient(90deg, #42d2f1 0%, #b248dd 100%);
  }

  .bg-gradient-dark {
    background-image: linear-gradient(90deg, #42d2f1 0%, #b248dd 100%);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility clip-corner {
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 0 100%);

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1rem;
    height: 1rem;
    background: inherit;
    border-top: 1px solid #8a45fc;
    border-right: 1px solid #8a45fc;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 10;
  }
}

@utility trapeze {
  width: 84px;
  height: 6px;
  clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);
  position: relative;
  background-color: #5c4fe5;
  position: absolute;
  top: -1px;
  &::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 84px;
    height: 6px;
    background: inherit;
    clip-path: polygon(100% 100%, 100% 0, 90% 100%);
  }
}

@utility btn {
  @apply rounded-full hover:border-transparent;
}

@utility btn-sm {
  @apply text-sm;
}

@utility collapse {
  @apply rounded-[1rem];
}

@layer utilities {
  :root,
  [data-theme] {
    background: oklch(var(--b2));
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }

  p {
    margin: 1rem 0;
  }

  .btn {
    @apply shadow-md;
  }

  html {
    @apply overflow-y-scroll overflow-x-hidden;
  }

  body {
    @apply overflow-y-auto overflow-x-hidden;
  }

  .modal {
    @apply overflow-hidden;
  }

  .modal-box {
    @apply min-h-80 max-w-100 overflow-hidden;
    transform: translateZ(0);
  }

  .modal-backdrop,
  .modal.backdrop-blur {
    @apply fixed inset-0 overflow-hidden;
  }

  .btn.btn-ghost {
    @apply shadow-none;
  }

  .circle-gradient {
    border-radius: 630px;
    background: #bd93f1;
    filter: blur(229px);
    position: absolute;
    top: 0;
  }

  .circle-gradient-blue {
    border-radius: 630px;
    background: #a6e8fe;
    filter: blur(250px);
    position: absolute;
    top: 0;
    right: 0;
  }

  .border-gradient {
    border: 1px solid #5c4fe5;
  }

  .bg-modal {
    backdrop-filter: blur(7.449999809265137px);
  }

  .custom::after {
    position: absolute !important;
    display: block !important;
    height: 0.5rem !important;
    width: 0.5rem !important;
    top: 1rem !important;
    right: 1.4rem !important;
    transform: translateY(-100%) rotate(45deg) !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    content: "" !important;
    box-shadow: 2px 2px !important;
    pointer-events: none !important;
  }
}

@layer utilities {
  .circle-gradient-dark {
    position: absolute;
    top: 0;
    left: 60px;
    border-radius: 630px;
    background: #7353d2;
    filter: blur(229px);
  }

  .circle-gradient-blue-dark {
    border-radius: 630px;
    background: #0ea9ff;
    filter: blur(250px);
    position: absolute;
    top: 0;
    right: 0;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
